
.fondoGracias{

    background-image: url(https://fotos.subefotos.com/e90085d0f9c01202fdbf8c0061d1601ao.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenedorGracias{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.headerGracias {
    
    background-color: darkblue;
    border: 5px;
    border-style: solid;
    border-color: ghostwhite;
    border-radius: 5px;
    width: 100%;
    height: 10%;
    padding: 1%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-transform: uppercase;
   
    .icon {
      display: none;
    }
    
  
   a {
    font-weight: bold;
    padding-right: 3vh;
    font-size: 1.8vh;
    font-family: "Press Start 2P";
  
    text-decoration: none;
    color: aliceblue;
  
  }
  }

  .titulo-gracias{
   
    display: flex;
    

    height: auto;
    align-items: center;
    justify-content: center;
    border: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: black;

      
        img {
           
            margin: 15%;
            padding: 10%;
        }
        

    
}

@media screen and (max-width: 720px) {
    .headerGracias a{
      font-size: 1vh;
    }
        

        .titulo-gracias img{
            width: 80%;
        }

  }
  
  @media screen and (max-width: 600px) {
    .headerGracias a{
      font-size: 1vh;
    }
    
  }